@import "./mixins";

.App {
  @include font-style("Aclonica", var(--font-size-13));
  @include display-flex(row, flex-start, flex-start);
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;

  font-weight: var(--font-weight-400);
  box-sizing: border-box;
}
