@import "./mixins";

.App {
  @include font-style("Aclonica", var(--font-size-13));
  @include display-flex(row, center, flex-start);
  max-width: 1140px;
  margin: 0 auto;

  font-weight: var(--font-weight-400);
}
