@import "./mixins";

.left-column {
  padding: 40px 25px;
  background-color: var(--color-Line-LightGray);
  min-height: 100vh;
  max-width: 258px;

  border-right: 2px solid var(--color-Line-LightGray);

  &_title {
    font-size: var(--font-size-15);
    color: var(--color-font-title);
    margin-bottom: 57px;

    @media (max-width: 940px) {
      display: none;
    }
  }

  @media (max-width: 940px) {
    position: absolute;
    transition: 0.5s ease-in-out;
    left: 0;
    transform: translateX(-200px);
    min-width: 200px;
    z-index: 2;
    padding: 22px 25px;
  }
}

/* Search Box */

.left-column_search-box {
  display: flex;
  align-items: center;
  width: 210px;
  height: 34px;
  border-radius: 7px;
  padding: 0 8px;
  background-color: #fff;
  margin-bottom: 35px;

  @media (max-width: 940px) {
    display: none;
  }
}

.left-column_search-box input[type="text"] {
  border: none;
  outline: none;
  @include font-style("Inter", var(--font-size-13));
  width: 100%;
  height: 100%;
  border-radius: 7px;
}

.left-column_search-box input[type="text"]::placeholder {
  color: #aaa;
}

.left-column_search-box button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-right: 6px;
  display: flex;
  align-items: center;
}

.left-column_search-box button img {
  width: 18px;
  height: 18px;
}

/* End Search Box */

/* Add Notes*/

.left-column_Add-notes {
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @include font-style("Inter", var(--font-size-16));

  @media (max-width: 940px) {
    margin-top: 40px;
  }
}

.left-column_Add-notes button {
  @include font-style("Inter", var(--font-size-16));
}

.notes-button {
  padding-left: 10px;
  border-left: 3px solid var(--color-font-title);
}

.AddNotes-button {
  margin-top: 10px;
  padding-left: 10px;
  color: var(--color-Light-Gray);
}

// .leftButton_Style::before {
//   content: "";
//   position: absolute;
//   left: 0;
//   top: 50%;
//   transform: translateY(-50%);
//   height: 20px;
//   width: 3px;
//   background-color: var(--color-font-title);
// }

/* End Add Notes*/

/* Search List */
.search_list {
  @include font-style("Inter", var(--font-size-16));
}

.taskContent_date {
  @include font-style("Inter", var(--font-size-13));
}

/* End Search List */

/* close-menu */

@media (max-width: 940px) {
  .close-menu {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    position: relative;
  }

  .close-menu__bar {
    width: 100%;
    height: 1.6px;
    background-color: var(--color-font-Dark);
    transition: transform 0.3s ease;
    position: absolute;
    left: 0;
  }

  .close-menu__bar:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }

  .close-menu__bar:nth-child(2) {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
}

/* End close-menu */
