@import "./mixins";

.middle-column {
  padding: 50px 28px;
  background-color: var(--color-font-Light);
  min-height: 100vh;
  width: 322px;
  @include font-style("Inter", var(--font-size-13));
  border-right: 2px solid var(--color-Line-LightGray);
}

/* Pinned */

.taskContent {
  margin-bottom: 25px;
}

.middle-column_pinned_title {
  color: var(--color-font-title);
  margin-bottom: 16px;
}

.taskContent_title {
  font-size: var(--font-size-16);
  color: var(--color-font-Dark);
  margin-bottom: 6px;
}

.taskContent_content {
  font-size: var(--font-size-13);
  color: var(--color-Light-Gray);
  margin-bottom: 20px;
}

.taskContent_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.taskContent_date {
  margin: 0;
  color: var(--color-Light-Gray);
}

.taskContent_buttonDelete {
  margin: 0;
  color: var(--color-font-Delete);
}

/* End Pinned */

/* Notes */

.middle-column_notes {
  position: relative;
}

.middle-column_notes_title {
  position: relative;
  color: var(--color-font-title);
  margin-bottom: 25px;
  padding: 10px 0;
  text-align: left;
}

.middle-column_notes_title::before,
.middle-column_notes_title::after {
  content: "";
  position: absolute;
  left: -28px;
  right: -28px;
  height: 1px;
  background-color: var(--color-Line-LightGray);
}

.middle-column_notes_title::before {
  top: 0;
}

.middle-column_notes_title::after {
  bottom: 0;
}

/* End Notes */

.middle-column {
  height: 100vh;
  overflow-y: auto;
}
