@import "./mixins";

.middle-column {
  padding: 30px 28px;
  background-color: var(--color-background-White);
  min-width: 322px;
  max-width: 322px;
  transition: 0.5s ease-in-out;

  height: 100vh;
  @include font-style("Inter", var(--font-size-13));
  border-right: 2px solid var(--color-Line-LightGray);
  overflow-y: auto;

  @media (max-width: 940px) {
    min-width: 122px;
    width: 100%;
    padding-top: 0px;
    margin-top: 95px;

    z-index: 0;
  }

  @media (max-width: 650px) {
    max-width: 100%;
  }
}

.middle_header {
  display: flex;
  margin-bottom: 25px;
}

.middle_header::before,
.middle_header::after {
  content: "";
  position: absolute;
  left: -28px;
  right: -28px;
  height: 2px;
  background-color: var(--color-Line-LightGray);
}

.middle_header::before {
  top: 0;
}

.middle_header::after {
  bottom: 0;
}

.middle_title {
  position: relative;
  color: var(--color-font-title);
  padding: 10px 0;
  text-align: left;
}

/* Pinned */

.middle-column_pinned {
  position: relative;
}

.pinned_deleteAll {
  color: var(--color-font-title);
  margin-left: auto;
}

/* End Pinned */

/* Notes */

.middle-column_notes {
  position: relative;
}

.notes_deleteAll {
  color: var(--color-font-title);
  margin-left: auto;
}

/* End Notes */

/* Tasks */

.taskContent_title {
  font-size: var(--font-size-16);
  color: var(--color-font-Dark);
  margin-bottom: 6px;
}

.taskContent {
  margin-bottom: 25px;
  cursor: pointer;

  padding: 10px;
}

.taskContent_content {
  font-size: var(--font-size-13);
  color: var(--color-Light-Gray);
  margin-bottom: 20px;

  overflow-wrap: break-word; /* Break long words to keep them within the container */
  word-wrap: break-word; /* For older browser support */
  overflow: hidden; /* Hide any text that overflows the container */

  line-height: 1.5; /* Adjust based on your design */
  max-height: calc(1.5em * 3); /* 3 lines * line-height */
  text-overflow: ellipsis; /* Add ellipsis (...) for overflowing text */
}

.taskContent_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.taskContent_date {
  margin: 0;
  color: var(--color-Light-Gray);
}

.taskContent_buttonDelete {
  margin: 0;
  color: var(--color-font-Delete);
}

.taskContent_author {
  display: none;
}

/* End Tasks */
