@use "../components/reset";
@use "../components/global";
@use "../components/left-column";
@use "../components/middle-column";
@use "../components/right-column";
@use "../components/right-column-AddNotes";

:root {
  --font-size-13: 13px;
  --font-size-15: 15px;
  --font-size-16: 16px;
  --font-size-26: 26px;
  --font-weight-400: 400;
  --color-font-title: #ec7160;
  --color-font-Dark: #303030;
  --color-Light-Gray: #898989;
  --color-font-Delete: #d82700;
  --color-background-Light: #f6f6f6;
  --color-background-White: #ffffff;

  --color-Line-LightGray: #e7e7e9;
}
