/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  display: inline-block;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border: 0;
}

ul,
ol {
  list-style: none;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 40px;
  outline: none;
  border: none;
}

body {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  line-height: 1.3;
  transition: 0.5s ease-in-out;
}

a {
  text-decoration: none;
  color: inherit;
}

/* End CSS Reset */
.App {
  font-family: "Aclonica";
  font-size: var(--font-size-13);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  font-weight: var(--font-weight-400);
  box-sizing: border-box;
}
@media (min-width: 650px) and (max-width: 940px) {
  .App {
    display: flex;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
@media (max-width: 650px) {
  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
}

.eraseColumn,
.burger-menu__checkbox,
.header_search,
.header_search_Button,
.header {
  display: none;
}

@media (max-width: 940px) {
  .header_search_Button {
    display: inline-block;
  }
  .header {
    width: 100%;
    height: 20px;
    z-index: 50;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: absolute;
    transition: 0.5s ease-in-out;
  }
  .header_title {
    font-size: var(--font-size-15);
    color: var(--color-font-title);
  }
  /* burger-menu */
  .burger-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
    gap: 5px;
    z-index: 20;
  }
  .burger-menu__bar {
    background-color: var(--color-font-Dark);
    height: 2px;
    width: 20px;
    transition: 0.5s ease-in-out;
  }
  /* END burger-menu */
  /* header search */
  .header_search {
    display: inline-block;
    width: 100%;
    height: 125px;
    background-color: var(--color-background-Light);
    position: absolute;
    transition: 0.5s ease-in-out;
    transform: translateY(-130px);
    z-index: 1;
  }
  .header_search-box {
    display: flex;
    align-items: center;
    max-width: 100%;
    height: 34px;
    border-radius: 7px;
    padding: 0 8px;
    background-color: #fff;
    margin: 70px 50px;
  }
  .header_search-box input[type=text] {
    border: none;
    outline: none;
    font-family: "Inter";
    font-size: var(--font-size-13);
    width: 100%;
    height: 100%;
    border-radius: 7px;
  }
  .header_search-box input[type=text]::-moz-placeholder {
    color: #aaa;
  }
  .header_search-box input[type=text]::placeholder {
    color: #aaa;
  }
  .header_search-box button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-right: 6px;
    display: flex;
    align-items: center;
  }
  .header_search-box button img {
    width: 18px;
    height: 18px;
  }
  /* End header Search */
}
.left-column {
  padding: 40px 25px;
  background-color: var(--color-Line-LightGray);
  min-height: 100vh;
  max-width: 258px;
  border-right: 2px solid var(--color-Line-LightGray);
}
.left-column_title {
  font-size: var(--font-size-15);
  color: var(--color-font-title);
  margin-bottom: 57px;
}
@media (max-width: 940px) {
  .left-column_title {
    display: none;
  }
}
@media (max-width: 940px) {
  .left-column {
    position: absolute;
    transition: 0.5s ease-in-out;
    left: 0;
    transform: translateX(-200px);
    min-width: 200px;
    z-index: 2;
    padding: 22px 25px;
  }
}

/* Search Box */
.left-column_search-box {
  display: flex;
  align-items: center;
  width: 210px;
  height: 34px;
  border-radius: 7px;
  padding: 0 8px;
  background-color: #fff;
  margin-bottom: 35px;
}
@media (max-width: 940px) {
  .left-column_search-box {
    display: none;
  }
}

.left-column_search-box input[type=text] {
  border: none;
  outline: none;
  font-family: "Inter";
  font-size: var(--font-size-13);
  width: 100%;
  height: 100%;
  border-radius: 7px;
}

.left-column_search-box input[type=text]::-moz-placeholder {
  color: #aaa;
}

.left-column_search-box input[type=text]::placeholder {
  color: #aaa;
}

.left-column_search-box button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-right: 6px;
  display: flex;
  align-items: center;
}

.left-column_search-box button img {
  width: 18px;
  height: 18px;
}

/* End Search Box */
/* Add Notes*/
.left-column_Add-notes {
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Inter";
  font-size: var(--font-size-16);
}
@media (max-width: 940px) {
  .left-column_Add-notes {
    margin-top: 40px;
  }
}

.left-column_Add-notes button {
  font-family: "Inter";
  font-size: var(--font-size-16);
}

.notes-button {
  padding-left: 10px;
  border-left: 3px solid var(--color-font-title);
}

.AddNotes-button {
  margin-top: 10px;
  padding-left: 10px;
  color: var(--color-Light-Gray);
}

/* End Add Notes*/
/* Search List */
.search_list {
  font-family: "Inter";
  font-size: var(--font-size-16);
}

.taskContent_date {
  font-family: "Inter";
  font-size: var(--font-size-13);
}

/* End Search List */
/* close-menu */
@media (max-width: 940px) {
  .close-menu {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    position: relative;
  }
  .close-menu__bar {
    width: 100%;
    height: 1.6px;
    background-color: var(--color-font-Dark);
    transition: transform 0.3s ease;
    position: absolute;
    left: 0;
  }
  .close-menu__bar:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }
  .close-menu__bar:nth-child(2) {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
}
/* End close-menu */
.middle-column {
  padding: 30px 28px;
  background-color: var(--color-background-White);
  min-width: 322px;
  max-width: 322px;
  transition: 0.5s ease-in-out;
  height: 100vh;
  font-family: "Inter";
  font-size: var(--font-size-13);
  border-right: 2px solid var(--color-Line-LightGray);
  overflow-y: auto;
}
@media (max-width: 940px) {
  .middle-column {
    min-width: 122px;
    width: 100%;
    padding-top: 0px;
    margin-top: 95px;
    z-index: 0;
  }
}
@media (max-width: 650px) {
  .middle-column {
    max-width: 100%;
  }
}

.middle_header {
  display: flex;
  margin-bottom: 25px;
}

.middle_header::before,
.middle_header::after {
  content: "";
  position: absolute;
  left: -28px;
  right: -28px;
  height: 2px;
  background-color: var(--color-Line-LightGray);
}

.middle_header::before {
  top: 0;
}

.middle_header::after {
  bottom: 0;
}

.middle_title {
  position: relative;
  color: var(--color-font-title);
  padding: 10px 0;
  text-align: left;
}

/* Pinned */
.middle-column_pinned {
  position: relative;
}

.pinned_deleteAll {
  color: var(--color-font-title);
  margin-left: auto;
}

/* End Pinned */
/* Notes */
.middle-column_notes {
  position: relative;
}

.notes_deleteAll {
  color: var(--color-font-title);
  margin-left: auto;
}

/* End Notes */
/* Tasks */
.taskContent_title {
  font-size: var(--font-size-16);
  color: var(--color-font-Dark);
  margin-bottom: 6px;
}

.taskContent {
  margin-bottom: 25px;
  cursor: pointer;
  padding: 10px;
}

.taskContent_content {
  font-size: var(--font-size-13);
  color: var(--color-Light-Gray);
  margin-bottom: 20px;
  overflow-wrap: break-word; /* Break long words to keep them within the container */
  word-wrap: break-word; /* For older browser support */
  overflow: hidden; /* Hide any text that overflows the container */
  line-height: 1.5; /* Adjust based on your design */
  max-height: 4.5em; /* 3 lines * line-height */
  text-overflow: ellipsis; /* Add ellipsis (...) for overflowing text */
}

.taskContent_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.taskContent_date {
  margin: 0;
  color: var(--color-Light-Gray);
}

.taskContent_buttonDelete {
  margin: 0;
  color: var(--color-font-Delete);
}

.taskContent_author {
  display: none;
}

/* End Tasks */
.right-column {
  padding: 114px 4vw 10px 4vw;
  background-color: var(--color-background-White);
  font-family: "Inter";
  font-size: var(--font-size-13);
  width: 850px;
  height: 100vh;
  overflow-y: auto;
  position: relative;
  transition: 0.5s ease-in-out;
}
@media (min-width: 650px) and (max-width: 940px) {
  .right-column {
    display: inline-block;
    width: 100%;
    padding-top: 0px;
    margin-top: 95px;
  }
}
@media (max-width: 650px) {
  .right-column {
    display: none;
    width: 100%;
    padding-top: 0px;
    margin-top: 95px;
  }
}

.right-column_title {
  font-size: var(--font-size-26);
  margin-bottom: 10px;
}

.right-column_author_date {
  display: flex;
  gap: 5px;
  color: var(--color-Light-Gray);
  margin-bottom: 40px;
}

.right-column_content {
  font-size: var(--font-size-16);
  line-height: 27px;
  overflow-wrap: break-word; /* Break long words to keep them within the container */
  word-wrap: break-word; /* For older browser support */
  overflow: hidden; /* Hide any text that overflows the container */
}

/* circle add */
.circle-add {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: var(--color-font-title);
  box-shadow: 0px 9px 25px 0px rgba(236, 113, 96, 0.7);
  bottom: 100px;
  right: 0;
  margin-right: 60px;
  position: absolute;
  transition: transform 0.3s ease-in-out;
  z-index: 10;
}
@media (max-width: 940px) {
  .circle-add {
    display: none;
  }
}

.circle-add::before,
.circle-add::after {
  content: "";
  position: absolute;
  background-color: var(--color-background-Light);
  transition: transform 0.3s ease-in-out;
}

.circle-add::before {
  width: 35px;
  height: 3px;
  border-radius: 2px;
  transform: translate(-50%, -50%);
}

.circle-add::after {
  width: 3px;
  height: 35px;
  border-radius: 2px;
  transform: translate(-50%, -50%);
}

.circle-add:hover {
  transform: scale(1.03);
}

.circle-add:hover::before,
.circle-add:hover::after {
  transform: translate(-50%, -50%) rotate(180deg);
}

/* End circle add */
.EmptyList {
  filter: grayscale(1);
  opacity: 0.5;
  max-width: 100%; /* Ensures the image scales within the div */
  max-height: 100%;
}

.right-column-AddNotes {
  padding: 114px 15vw 238px 15vw;
  background-color: var(--color-background-White);
  font-family: "Inter";
  font-size: var(--font-size-26);
  width: 1182px;
  height: 100vh;
  transition: 0.5s ease-in-out;
  display: none;
}
.right-column-AddNotes.deactive {
  display: none;
}
@media (min-width: 650px) and (max-width: 940px) {
  .right-column-AddNotes {
    width: 100%;
    padding: auto;
    align-content: center;
    margin: auto;
  }
}
@media (max-width: 650px) {
  .right-column-AddNotes {
    width: 100%;
    padding: 100px 16px 0px 16px;
  }
}

.right-column-AddNotes label {
  font-family: "Inter";
  font-size: var(--font-size-13);
  color: var(--color-Light-Gray);
  margin-top: 40px;
  margin-bottom: 6px;
}

.right-column-AddNotes form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.right-column-AddNotes input {
  width: 100%;
  height: 45px;
  background-color: var(--color-Line-LightGray);
  border: none;
  outline: none;
  border-radius: 7px;
  padding-left: 10px;
}

.right-column-AddNotes .AddNotes_note {
  width: 100%;
  height: 150px;
  background-color: var(--color-Line-LightGray);
  resize: none;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 7px;
  font-family: "Inter";
  margin-bottom: 50px;
}

@media (max-width: 650px) {
  .submitButton {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.right-column-AddNotes button {
  background-color: var(--color-font-title);
  color: var(--color-background-White);
  padding: 12px 22px;
  font-family: "Inter";
  font-size: var(--font-size-13);
  border-radius: 7px;
}
@media (max-width: 650px) {
  .right-column-AddNotes button {
    padding: 15px;
  }
}

:root {
  --font-size-13: 13px;
  --font-size-15: 15px;
  --font-size-16: 16px;
  --font-size-26: 26px;
  --font-weight-400: 400;
  --color-font-title: #ec7160;
  --color-font-Dark: #303030;
  --color-Light-Gray: #898989;
  --color-font-Delete: #d82700;
  --color-background-Light: #f6f6f6;
  --color-background-White: #ffffff;
  --color-Line-LightGray: #e7e7e9;
}