/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  display: inline-block;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border: 0;
}

ul,
ol {
  list-style: none;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 40px;
  outline: none;
  border: none;
}

body {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  line-height: 1.3;
  transition: 0.5s ease-in-out;
}

a {
  text-decoration: none;
  color: inherit;
}

/* End CSS Reset */
.App {
  font-family: "Aclonica";
  font-size: var(--font-size-13);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  font-weight: var(--font-weight-400);
  box-sizing: border-box;
}

.left-column {
  padding: 40px 25px;
  background-color: var(--color-Line-LightGray);
  min-height: 100vh;
  max-width: 258px;
  border-right: 2px solid var(--color-Line-LightGray);
}
.left-column_title {
  font-size: var(--font-size-15);
  color: var(--color-font-title);
  margin-bottom: 57px;
}

/* Search Box */
.left-column_search-box {
  display: flex;
  align-items: center;
  width: 210px;
  height: 34px;
  border-radius: 7px;
  padding: 0 8px;
  background-color: #fff;
  margin-bottom: 35px;
}

.left-column_search-box input[type=text] {
  border: none;
  outline: none;
  font-family: "Inter";
  font-size: var(--font-size-13);
  width: 100%;
  height: 100%;
  border-radius: 7px;
}

.left-column_search-box input[type=text]::-moz-placeholder {
  color: #aaa;
}

.left-column_search-box input[type=text]::placeholder {
  color: #aaa;
}

.left-column_search-box button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-right: 6px;
  display: flex;
  align-items: center;
}

.left-column_search-box button img {
  width: 18px;
  height: 18px;
}

/* End Search Box */
/* Add Notes*/
.left-column_Add-notes {
  font-family: "Inter";
  font-size: var(--font-size-16);
}

.left-column_Add-notes_title {
  position: relative;
  padding-left: 10px;
}

.left-column_Add-notes_title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 20px;
  width: 3px;
  background-color: var(--color-font-title);
}

.AddNotes-button {
  padding: 10px 0 0 10px;
  color: var(--color-Light-Gray);
}

/* End Add Notes*/
.middle-column {
  padding: 50px 28px;
  background-color: var(--color-font-Light);
  min-height: 100vh;
  width: 322px;
  font-family: "Inter";
  font-size: var(--font-size-13);
  border-right: 2px solid var(--color-Line-LightGray);
}

/* Pinned */
.taskContent {
  margin-bottom: 25px;
}

.middle-column_pinned_title {
  color: var(--color-font-title);
  margin-bottom: 16px;
}

.taskContent_title {
  font-size: var(--font-size-16);
  color: var(--color-font-Dark);
  margin-bottom: 6px;
}

.taskContent_content {
  font-size: var(--font-size-13);
  color: var(--color-Light-Gray);
  margin-bottom: 20px;
}

.taskContent_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.taskContent_date {
  margin: 0;
  color: var(--color-Light-Gray);
}

.taskContent_buttonDelete {
  margin: 0;
  color: var(--color-font-Delete);
}

/* End Pinned */
/* Notes */
.middle-column_notes {
  position: relative;
}

.middle-column_notes_title {
  position: relative;
  color: var(--color-font-title);
  margin-bottom: 25px;
  padding: 10px 0;
  text-align: left;
}

.middle-column_notes_title::before,
.middle-column_notes_title::after {
  content: "";
  position: absolute;
  left: -28px;
  right: -28px;
  height: 1px;
  background-color: var(--color-Line-LightGray);
}

.middle-column_notes_title::before {
  top: 0;
}

.middle-column_notes_title::after {
  bottom: 0;
}

/* End Notes */
.middle-column {
  height: 100vh;
  overflow-y: auto;
}

.right-column {
  padding: 114px 153px 114px 100px;
  background-color: #d6d6d6;
  font-family: "Inter";
  font-size: var(--font-size-13);
  width: 850px;
  height: 100vh;
  overflow-y: auto;
  position: relative;
}

.right-column_title {
  font-size: var(--font-size-26);
  margin-bottom: 10px;
}

.right-column_author_date {
  display: flex;
  gap: 5px;
  color: var(--color-Light-Gray);
  margin-bottom: 40px;
}

.right-column_content {
  font-size: var(--font-size-16);
  line-height: 27px;
}

/* circle add */
.circle-add {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: var(--color-font-title);
  box-shadow: 0px 9px 25px 0px rgba(236, 113, 96, 0.7);
  left: 730px;
  bottom: 100px;
  position: absolute;
  transition: transform 0.3s ease-in-out;
}

.circle-add::before,
.circle-add::after {
  content: "";
  position: absolute;
  background-color: var(--color-background-Light);
  transition: transform 0.3s ease-in-out;
}

.circle-add::before {
  width: 35px;
  height: 3px;
  border-radius: 2px;
  transform: translate(-50%, -50%);
}

.circle-add::after {
  width: 3px;
  height: 35px;
  border-radius: 2px;
  transform: translate(-50%, -50%);
}

.circle-add:hover {
  transform: scale(1.03);
}

.circle-add:hover::before,
.circle-add:hover::after {
  transform: translate(-50%, -50%) rotate(180deg);
}

/* End circle add */
:root {
  --font-size-13: 13px;
  --font-size-15: 15px;
  --font-size-16: 16px;
  --font-size-26: 26px;
  --font-weight-400: 400;
  --color-font-title: #ec7160;
  --color-font-Dark: #303030;
  --color-Light-Gray: #898989;
  --color-font-Delete: #d82700;
  --color-background-Light: #f6f6f6;
  --color-Line-LightGray: #e7e7e9;
}